
<div class="navbar-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">
          WASTETRACKING
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="page-scroll" href="#page-top">Home</a></li>
          <li><a class="page-scroll" href="#features">Features</a></li>
          <li><a class="page-scroll" href="#team">Set Up & Support</a></li>
          <li><a class="page-scroll" href="#testimonials">Clients</a></li>
          <li><a class="page-scroll" href="#pricing">Pricing</a></li>
          <li><a class="page-scroll" href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#inSlider" data-slide-to="0" class="active"></li>
    <li data-target="#inSlider" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <h1>Your Complete<br/>
            Waste Tracking<br/>
            Solution<br/>
          </h1>
          <p>Completely redesigned with tons of awesome new features</p>
          <p>
            <%= link_to "/forms/wizard", class:"btn btn-lg btn-primary" do %>
                Government
            <% end %>
            <%= link_to get_zipcode_business_logins_path, class:"btn btn-lg btn-primary" do %>
                Non-Government
            <% end %>

            <a data-target="#myModal" data-toggle="modal" class="btn btn-lg btn-primary" href="#" role="button">Demo</a>

            <%= link_to "SIGN IN" ,new_user_session_path,:class => "btn btn-lg btn-gh-warning" ,
                        :style => "height:40px;font-size:15px;" %>
          </p>
        </div>
        <div class="carousel-image wow zoomIn">
          <img src="<%= image_path('landing/laptop.png') %>" alt="laptop"/>
        </div>
      </div>
      <!-- Set background for slide in css -->
      <div class="header-back one"></div>

    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption blank">
          <h1>Your Complete<br/>
            Waste Tracking<br/>
            Solution<br/>
          </h1>
          <p>Completely redesigned with tons of awesome new features</p>
          <p>
            <%= link_to "/forms/wizard", class:"btn btn-lg btn-primary" do %>
                Government
            <% end %>
            <%= link_to get_zipcode_business_logins_path, class:"btn btn-lg btn-primary" do %>
                Non-Government
            <% end %>

            <a data-target="#myModal" data-toggle="modal" class="btn btn-lg btn-primary" href="#" role="button">Demo</a>

            <%= link_to "SIGN IN" ,new_user_session_path,:class => "btn btn-lg btn-gh-warning" ,
                        :style => "height:40px;font-size:15px;" %>
          </p>
        </div>
      </div>
      <!-- Set background for slide in css -->
      <div class="header-back two"></div>
    </div>
  </div>
  <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<section id="features" class="container services">
  <div class="row">
    <div class="col-sm-3">
      <h2>TRACK ANY WASTE STREAM ANYWHERE</h2>

      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
    <div class="col-sm-3">
      <h2>CONNECT WITH VENDORS MONITOR ACTIVITY</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
    <div class="col-sm-3">
      <h2>1000+ MATERIAL LIBRARY</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
    <div class="col-sm-3">
      <h2>ADVANCED DIAGNOSTICS AND REPORTING</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
  </div>
</section>



<section  class="container features">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>Over 50 new features and functions<br/> <span class="navy"> you can customize to meet your needs</span> </h1>
      <p>We make tracking waste and recycling easy!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 text-center wow fadeInLeft">
      <div>
        <i class="fa fa-mobile features-icon"></i>
        <h2>Works on any mobile device</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      </div>
      <div class="m-t-lg">
        <i class="fa fa-bar-chart features-icon"></i>
        <h2>Comprehensive reports ad statistics</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      </div>
    </div>
    <div class="col-md-6 text-center  wow zoomIn">
      <img src="<%= image_path('landing/perspective.png') %>" alt="dashboard" class="img-responsive">
    </div>
    <div class="col-md-3 text-center wow fadeInRight">
      <div>
        <i class="fa fa-exclamation-triangle features-icon"></i>
        <h2>Customizeable alerts and notifications</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      </div>
      <div class="m-t-lg">
        <i class="fa fa-plug features-icon"></i>
        <h2>Integrate with any software via API connection</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>The Most Advance Waste Tracking System on The Planet</h1>
      <p>Save time and money! Implement zero waste policies, monitor compliance, reduce liability and improve your
      sustainability performance.</p>
    </div>
  </div>
  <div class="row features-block">
    <div class="col-lg-6 features-text wow fadeInLeft">
      <small>Waste Tracking</small>
      <h2>Perfectly designed with simplicity and ease of use in mind </h2>
      <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
      <a data-target="#myModal" data-toggle="modal" class="btn btn-primary" href="#" role="button">View Demo</a>
    </div>
    <div class="col-lg-6 text-right wow fadeInRight">
      <img src="<%= image_path('landing/dashboard.png') %>" alt="dashboard" class="img-responsive pull-right">
    </div>
  </div>
</section>

<section id="team" class="gray-section team">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>U.S. Based Training and Support Staff Fluent in 53 Languages</h1>
        <p>Whether you are a multi-national company or a local government we have you covered.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 wow fadeInLeft">
        <div class="team-member">
          <i class = "fa fa-cog features-icon"></i>
          <h4><span class="navy">Fast</span> Easy Set Up</h4>
          <p>We'll set up your entire account and import any existing data for you. Then we'll train you, your staff your clients and vendors on how to use and interact with your Waste Tracking system.</p>
        </div>
      </div>

      <div class="col-sm-4 wow fadeInLef">
          <div class="team-member">
          <i class = "fa fa-users features-icon"></i>
          <h4><span class="navy">Unlimited</span> Users</h4>
          <p>Don't be prohibited by limited user plans that can blow your budget. With unlimited users, you can increase participation and encourage your staff, vendors and clients to interact engage with your waste tracking system.</p>
        </div>
      </div>
      <div class="col-sm-4 wow fadeInRight">
        <div class="team-member">
          <i class = "fa fa-comment features-icon"></i>
          <h4><span class="navy">Live</span> Support</h4>
          <p>Live Support is only a click or a phone call away. As part of your waste tracking system, training and support is provided for all your users at no additional charge.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
      </div>
    </div>
  </div>
</section>







<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Live Real Time waste analytics, recycling performance reports, disposal costs and return on recycling</h1>
        <p>Available right at your fingertips anywhere any time! </p>
      </div>
    </div>
    <div class="row features-block">
      <div class="col-lg-3 features-text wow fadeInLeft">
        <small>WASTE TRACKING</small>
        <h2>FOR GOVERNMENT AGENCIES </h2>
        <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
        <a data-target="#myModal" data-toggle="modal" class="btn btn-primary" href="#" role="button">View Demo</a>
      </div>
      <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
        <img src="<%= image_path('landing/iphone.jpg') %>" class="img-responsive" alt="dashboard">
      </div>
      <div class="col-lg-3 features-text text-right wow fadeInRight">
        <small>WASTE TRACKING </small>
        <h2>FOR NON-GOVERNMENT USERS </h2>
        <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
        <a data-target="#myModal" data-toggle="modal" class="btn btn-primary" href="#" role="button">View Demo</a>
      </div>
    </div>
  </div>

</section>

<section class="timeline gray-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>How it Works</h1>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
      </div>
    </div>
    <div class="row features-block">

      <div class="col-lg-12">
        <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
          <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon navy-bg">
              <i class="fa fa-cogs"></i>
            </div>

            <div class="vertical-timeline-content">
              <h2>CONFIGURE </h2>
              <p>Configure your system settings to match your need. Identify waste streams and their locations. Assign vendors and start tracking. Need Help? We'll do all the set up for you and even import your existing data into the system.
              </p>
              <a href="#" data-target="#myModal" data-toggle="modal" class="btn btn-xs btn-primary"> Schedule A Consultation to Learn More</a>
              <span class="vertical-date"> Step <br/> <small> 1 </small> </span>
            </div>
          </div>

          <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon navy-bg">
              <i class="fa fa-truck"></i>
            </div>

            <div class="vertical-timeline-content">
              <h2>MONITOR</h2>
              <p>Schedule pick ups, get alerts, and monitor vendor activity as your materials are collected through our real time collection tracking system.</p>
              <a href="#" data-target="#myModal" data-toggle="modal"  class="btn btn-xs btn-primary"> Schedule a Demo To Learn More </a>
              <span class="vertical-date"> Step <br/> <small> 2 </small> </span>
            </div>
          </div>

          <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon navy-bg">
              <i class="fa fa-industry"></i>
            </div>

            <div class="vertical-timeline-content">
              <h2>VERIFY</h2>
              <p>Verify disposition with our proof of disposal system, that provides you with the verification you need to reduce liability, fines and penalties, and assure your vendors and employees comply with sustainability goals and requirements. </p>
              <a href="#" data-target="#myModal" data-toggle="modal"  class="btn btn-xs btn-primary">  Learn More About Real Time Verification </a>
              <span class="vertical-date"> Step <br/> <small> 3 </small> </span>
            </div>
          </div>

          <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon navy-bg">
              <i class="fa fa-bar-chart"></i>
            </div>

            <div class="vertical-timeline-content">
              <h2>ANALYZE</h2>
              <p>Analyze data and statistics, generate comprehensive reports and monitor your carbon footprint in real time, on your desk top or mobile device. Set alerts and notifications to let you know when goals are achieved or when they're not. Export and share data in a variety of formats, or provide limited viewing access for reports to be viewed on the cloud. </p>
              <a href="#" data-target="#myModal" data-toggle="modal" class="btn btn-xs btn-primary"> Get Started Today! </a>
              <span class="vertical-date"> Step <br/> <small> 4 </small> </span>
            </div>
          </div>



        </div>
      </div>

    </div>
  </div>

</section>

<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center wow zoomIn">
        <i class="fa fa-comment big-icon"></i>
        <h1>
          What our users say
        </h1>
        <div class="testimonials-text">
          <i>"Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."</i>
        </div>
        <small>
          <strong>12.02.2014 - Andy Smith</strong>
        </small>
      </div>
    </div>
  </div>

</section>

<section class="comments gray-section" style="margin-top: 0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>What our partners say</h1>
        <p>Donec sed odio dui. Etiam porta sem malesuada. </p>
      </div>
    </div>
    <div class="row features-block">
      <div class="col-lg-4">
        <div class="bubble">
          "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
        </div>
        <div class="comments-avatar">
          <a href="" class="pull-left">
            <img alt="image" src="<%= image_path('landing/avatar3.jpg') %>">
          </a>
          <div class="media-body">
            <div class="commens-name">
              Andrew Williams
            </div>
            <small class="text-muted">Company X from California</small>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="bubble">
          "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
        </div>
        <div class="comments-avatar">
          <a href="" class="pull-left">
            <img alt="image" src="<%= image_path('landing/avatar1.jpg') %>">
          </a>
          <div class="media-body">
            <div class="commens-name">
              Andrew Williams
            </div>
            <small class="text-muted">Company X from California</small>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="bubble">
          "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
        </div>
        <div class="comments-avatar">
          <a href="" class="pull-left">
            <img alt="image" src="<%= image_path('landing/avatar2.jpg') %>">
          </a>
          <div class="media-body">
            <div class="commens-name">
              Andrew Williams
            </div>
            <small class="text-muted">Company X from California</small>
          </div>
        </div>
      </div>



    </div>
  </div>

</section>

<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>More and more extra great feautres</h1>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 features-text">
        <small>INSPINIA</small>
        <h2>Perfectly designed </h2>
        <i class="fa fa-bar-chart big-icon pull-right"></i>
        <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
      </div>
      <div class="col-lg-5 features-text">
        <small>INSPINIA</small>
        <h2>Perfectly designed </h2>
        <i class="fa fa-bolt big-icon pull-right"></i>
        <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 features-text">
        <small>INSPINIA</small>
        <h2>Perfectly designed </h2>
        <i class="fa fa-clock-o big-icon pull-right"></i>
        <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
      </div>
      <div class="col-lg-5 features-text">
        <small>INSPINIA</small>
        <h2>Perfectly designed </h2>
        <i class="fa fa-users big-icon pull-right"></i>
        <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
      </div>
    </div>
  </div>

</section>
<section id="pricing" class="pricing">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>App Pricing</h1>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 wow zoomIn">
        <ul class="pricing-plan list-unstyled">
          <li class="pricing-title">
            Basic
          </li>
          <li class="pricing-desc">
            Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
          </li>
          <li class="pricing-price">
            <span>$16</span> / month
          </li>
          <li>
            Dashboards
          </li>
          <li>
            Projects view
          </li>
          <li>
            Contacts
          </li>
          <li>
            Calendar
          </li>
          <li>
            AngularJs
          </li>
          <li>
            <a class="btn btn-primary btn-xs" href="#">Signup</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 wow zoomIn">
        <ul class="pricing-plan list-unstyled selected">
          <li class="pricing-title">
            Standard
          </li>
          <li class="pricing-desc">
            Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
          </li>
          <li class="pricing-price">
            <span>$22</span> / month
          </li>
          <li>
            Dashboards
          </li>
          <li>
            Projects view
          </li>
          <li>
            Contacts
          </li>
          <li>
            Calendar
          </li>
          <li>
            AngularJs
          </li>
          <li>
            <strong>Support platform</strong>
          </li>
          <li class="plan-action">
            <a class="btn btn-primary btn-xs" href="#">Signup</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 wow zoomIn">
        <ul class="pricing-plan list-unstyled">
          <li class="pricing-title">
            Premium
          </li>
          <li class="pricing-desc">
            Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
          </li>
          <li class="pricing-price">
            <span>$160</span> / month
          </li>
          <li>
            Dashboards
          </li>
          <li>
            Projects view
          </li>
          <li>
            Contacts
          </li>
          <li>
            Calendar
          </li>
          <li>
            AngularJs
          </li>
          <li>
            <a class="btn btn-primary btn-xs" href="#">Signup</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row m-t-lg">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
        <p>*Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. <span class="navy">Various versions</span>  have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
      </div>
    </div>
  </div>

</section>

<section id="contact" class="gray-section contact">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Contact Us</h1>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
      </div>
    </div>
    <div class="row m-b-lg">
      <div class="col-lg-3 col-lg-offset-3">
        <address>
          <strong><span class="navy">WasteTracking.com</span></strong><br/>
          521 Charcot Ave, Ste 119,<br/>
          San Jose, CA 95131,<br/>
          888.525.1301<br/>
          hello@wastetracking.com<br/>
        </address>
      </div>
      <div class="col-lg-4">
        <p class="text-color">
          Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="mailto:test@email.com" data-target="#myModal" data-toggle="modal" class="btn btn-primary">Schedule A Demo</a>
        <p class="m-t-sm">
          Or follow us on social platform
        </p>
        <ul class="list-inline social-icon">
          <li><a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-facebook"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        <p><strong>&copy; 2016 Wastetracking</strong></p>
      </div>
    </div>
  </div>
</section>

<%= render partial: "demo_form" %>

<% content_for :javascript do %>

    <script type="text/javascript">


        $(function() {

            $('body').addClass('landing-page');
            $('body').attr('id', 'page-top');

            $('body').scrollspy({
                target: '.navbar-fixed-top',
                offset: 80
            });

            // Page scrolling feature
            $('a.page-scroll').bind('click', function(event) {
                var link = $(this);
                $('html, body').stop().animate({
                    scrollTop: $(link.attr('href')).offset().top - 50
                }, 500);
                event.preventDefault();
            });

            var cbpAnimatedHeader = (function() {
                var docElem = document.documentElement,
                        header = document.querySelector( '.navbar-default' ),
                        didScroll = false,
                        changeHeaderOn = 200;
                function init() {
                    window.addEventListener( 'scroll', function( event ) {
                        if( !didScroll ) {
                            didScroll = true;
                            setTimeout( scrollPage, 250 );
                        }
                    }, false );
                }
                function scrollPage() {
                    var sy = scrollY();
                    if ( sy >= changeHeaderOn ) {
                        $(header).addClass('navbar-scroll')
                    }
                    else {
                        $(header).removeClass('navbar-scroll')
                    }
                    didScroll = false;
                }
                function scrollY() {
                    return window.pageYOffset || docElem.scrollTop;
                }
                init();

            })();


        });

    </script>

<% end %>
<style type="text/css">

    .btn-gh-warning{

        background-color: #f8ac59;
        border-color: #f8ac59;
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 20px;
    }

    .btn-gh-warning:hover {
        color:#fff;
    }

</style>
