<div class="modal-header">
  <div>
    <a href="#" style="color:#1ab394;">
      <i style="float: left;font-size:26px;" id="settings_menulist" class="fa fa-list"></i>
    </a>
    <h4>
      <div style="width:79%;float:left;">
        <i class="fa fa-film modal-title" style="margin-right:4px;"></i>Facilities
      </div>
      <button type="button" class="btn btn-primary">Export</button>
      <button type="button" class="btn btn-primary">Print</button>
      <button type="button" class="btn btn-primary">PDF</button>
    </h4>

  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3" style="width: 54%;">
      <small class="font-bold">
        Create a custom checklist that will require this WGU and all Sub Level WGUs to check off before closing out this WGU.Create a custom checklist that will require this WGU and all Sub Level WGUs to check off before closing out this WGU.
      </small>
    </div>
  </div>

  <div id="display_settings_menu" class="displaylist_settings" style="position: absolute;">
    <%= image_tag "img/pop-img.png", :class=>"pop-pointer-dd" %>
    <ul class="pop-dropdown">
      <li> <%= link_to "Settings Function", "#", onclick:"dynamic_level_settings('#{business_level_settings_path(current_user.domain_name, current_user.role_type.downcase)}');" %> </li>
      <li> <%= link_to "Recycle Target", "#", onclick:"dynamic_level_settings('#{recycling_target_program_settings_path(current_user.domain_name, current_user.role_type.downcase)}');" %> </li>
      <li> <%= link_to "Terms and Conditions", "#", onclick:"dynamic_level_settings('#{terms_conditions_business_level_settings_path(current_user.domain_name, current_user.role_type.downcase)}');" %> </li>
      <li> <%= link_to "Franchise Agreement", "#", onclick:"dynamic_level_settings('#{franchise_aggrement_business_level_settings_path(current_user.domain_name, current_user.role_type.downcase)}');" %> </li>
      <li> <%= link_to "Materials", "#", onclick:"dynamic_level_settings('#{material_list_materials_path(current_user.domain_name, current_user.role_type.downcase)}');" %> </li>
      <li> <%= link_to "Facility Listing", "#", onclick:"dynamic_level_settings('#{facility_list_materials_path(current_user.domain_name, current_user.role_type.downcase)}');" %> </li>
      <li> <%= link_to "Classifications", "#", onclick:"dynamic_level_settings('#{project_types_path(current_user.domain_name, current_user.role_type.downcase)}');" %> </li>
      <li> <%= link_to "Data Entry", "#", onclick:"dynamic_level_settings('#{data_entry_program_settings_path(current_user.domain_name, current_user.role_type.downcase)}');" %> </li>
      <li> <%= link_to "Custom Fields", "#", onclick:"dynamic_level_settings('#{tips_path(current_user.domain_name, current_user.role_type.downcase)}');" %> </li>
      <li> <%= link_to "Checklist", "#", onclick:"dynamic_level_settings('#{check_list_materials_path(current_user.domain_name, current_user.role_type.downcase)}');" %> </li>
      <li> <%= link_to "Tips and Banners", "#", onclick:"dynamic_level_settings('#{tips_path(current_user.domain_name, current_user.role_type.downcase)}');" %> </li>
      <li> <%= link_to "Vendors", "#", onclick:"dynamic_level_settings('#{vendors_path}');" %> </li>
      <li> <%= link_to "Facilities", "#", onclick:"dynamic_level_settings('#{facilities_path(current_user.domain_name, current_user.role_type.downcase)}');" %> </li>
      <li> <%= link_to "Users", "#", onclick:"dynamic_level_settings('#{users_path(current_user.domain_name, current_user.role_type.downcase)}');" %> </li>
    </ul>
  </div>
</div>

<div class="modal-body" style="height:70vh; overflow:auto;">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title"><h5>Facility List</h5></div>
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th></th>
                <th><i class="fa fa-sort-desc" style="font-size: 22px;margin-right: 5px;"></i>Name </th>
                <th><i class="fa fa-sort-desc" style="font-size: 22px;margin-right: 5px;"></i>Website </th>
                <th><i class="fa fa-sort-desc" style="font-size: 22px;margin-right: 5px;"></i>Email</th>
                <th><i class="fa fa-sort-desc" style="font-size: 22px;margin-right: 5px;"></i>Level</th>
                <th><i class="fa fa-sort-desc" style="font-size: 22px;margin-right: 5px;"></i>Services</th>
                <th><i class="fa fa-sort-desc" style="font-size: 22px;margin-right: 5px;"></i>Enable</th>
                <th>Edit/Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td>
                  Facility 2
                </td>
                <td>www.google.com</td>
                <td>vijay@celesys.com</td>
                <td>Level 2</td>
                <td>DebrisBox</td>
                <td><i class="fa fa-check" style="font-size: 22px;"></td>
                <td>
                  <i class="fa fa-pencil" style="font-size:22px;"></i>
                  <i class="fa fa-trash-o" style="font-size:22px;margin-left: 20px;"></i>
                </td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td>
                  Facility 3
                </td>
                <td>www.google.com</td>
                <td>vijay@celesys.com</td>
                <td>Level 1</td>
                <td>DebrisBox</td>
                <td><i class="fa fa-times" style="font-size: 22px;"></td>
                <td>
                  <i class="fa fa-pencil" style="font-size:22px;"></i>
                  <i class="fa fa-trash-o" style="font-size:22px;margin-left: 20px;"></i>
                </td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td>
                  Facility 4
                </td>
                <td>www.google.com</td>
                <td>vijay@celesys.com</td>
                <td>Level 1</td>
                <td>DebrisBox</td>
                <td><i class="fa fa-check" style="font-size: 22px;"></td>
                <td>
                  <i class="fa fa-pencil" style="font-size:22px;"></i>
                  <i class="fa fa-trash-o" style="font-size:22px;margin-left: 20px;"></i>
                </td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td>
                  Facility 5
                </td>
                <td>www.google.com</td>
                <td>vijay@celesys.com</td>
                <td>Level 5</td>
                <td>DebrisBox</td>
                <td><i class="fa fa-times" style="font-size: 22px;"></td>
                <td>
                  <i class="fa fa-pencil" style="font-size:22px;"></i>
                  <i class="fa fa-trash-o" style="font-size:22px;margin-left: 20px;"></i>
                </td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td>
                  Facility 1
                </td>
                <td>www.google.com</td>
                <td>vijay@celesys.com</td>
                <td>Level 1</td>
                <td>DebrisBox</td>
                <td><i class="fa fa-check" style="font-size: 22px;"></td>
                <td>
                  <i class="fa fa-pencil" style="font-size:22px;"></i>
                  <i class="fa fa-trash-o" style="font-size:22px;margin-left: 20px;"></i>
                </td>
              </tr>


              </tbody>
            </table>
          </div>
          <div style="float: right;margin-bottom: 10px;margin-top: 33px;width: 60%;">
            <button class="btn btn-primary" type="button">Add New Facility</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<style>
  /* for level setting popup title bar*/
  .displaylist_settings
  {
    background: #d3d3d3 none repeat scroll 0 0;
    color: #000000;
    display: none;
    border: 1px solid #504f4f;
    margin: 12px 0 0 1%;
    width: 212px;
    position: relative;
    z-index: 11;
  }

  .pop-dropdown
  {
    list-style:none;
    border-top: 4px solid #504f4f;
    margin:0;
    padding:0;
  }
  .pop-dropdown > li > a
  {
    text-decoration:none;
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    padding: 3px 14px;
    white-space: nowrap;
    text-align: left;
  }
  .pop-dropdown > li > a:focus,.pop-dropdown > li > a:hover
  {
    background:#BFBFBF;
    color:#333;
  }

  .modal-body{min-height:486px;}

  .pop-pointer-dd {
    margin-left: 31px;
    position: absolute;
    top: -11px;
  }

</style>



<script type="text/javascript">
  $(document).ready(function(){
    $("i#settings_menulist").click(function()
    {
      $('#display_settings_menu').css('display','block');
    });
  });
</script>