<div class="modal-header">
  <h4 class="modal-title">Facilities</h4>
  <small class="font-bold">
    Create a custom checklist that will require this WGU and all Sub Level WGUs to check off before closing out this WGU.
  </small>
</div>

<div class="modal-body" style="height:70vh; overflow:auto;">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title"><h5>Facility List</h5></div>
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th></th>
                <th>Name </th>
                <th>Website </th>
                <th>Email</th>
                <th>Level</th>
                <th>Services</th>
                <th>Enable</th>
                <th>Edit/Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td>
                  Facility 2
                </td>
                <td>www.google.com</td>
                <td>vijay@celesys.com</td>
                <td>Level 2</td>
                <td>DebrisBox</td>
                <td><%= image_tag "img/inactiveuser.png" %></td>
                <td>
                  <i class="fa fa-pencil" style="font-size:22px;"></i>
                  <i class="fa fa-trash-o" style="font-size:22px;margin-left: 20px;"></i>
                </td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td>
                  Facility 3
                </td>
                <td>www.google.com</td>
                <td>vijay@celesys.com</td>
                <td>Level 1</td>
                <td>DebrisBox</td>
                <td><%= image_tag "img/activeuser.png" %></td>
                <td>
                  <i class="fa fa-pencil" style="font-size:22px;"></i>
                  <i class="fa fa-trash-o" style="font-size:22px;margin-left: 20px;"></i>
                </td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td>
                  Facility 4
                </td>
                <td>www.google.com</td>
                <td>vijay@celesys.com</td>
                <td>Level 1</td>
                <td>DebrisBox</td>
                <td><%= image_tag "img/inactiveuser.png" %></td>
                <td>
                  <i class="fa fa-pencil" style="font-size:22px;"></i>
                  <i class="fa fa-trash-o" style="font-size:22px;margin-left: 20px;"></i>
                </td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td>
                  Facility 5
                </td>
                <td>www.google.com</td>
                <td>vijay@celesys.com</td>
                <td>Level 5</td>
                <td>DebrisBox</td>
                <td><%= image_tag "img/activeuser.png" %></td>
                <td>
                  <i class="fa fa-pencil" style="font-size:22px;"></i>
                  <i class="fa fa-trash-o" style="font-size:22px;margin-left: 20px;"></i>
                </td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td>
                  Facility 1
                </td>
                <td>www.google.com</td>
                <td>vijay@celesys.com</td>
                <td>Level 1</td>
                <td>DebrisBox</td>
                <td><%= image_tag "img/activeuser.png" %></td>
                <td>
                  <i class="fa fa-pencil" style="font-size:22px;"></i>
                  <i class="fa fa-trash-o" style="font-size:22px;margin-left: 20px;"></i>
                </td>
              </tr>


              </tbody>
            </table>
          </div>
          <div style="float: right;margin-bottom: 10px;margin-top: 33px;width: 60%;">
            <button class="btn btn-primary" type="button">Add New Facility</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>