<% unless level_wgus.blank? %>
    <% level_wgus.each do |wgu| %>

        <tr class="gradeX wt-trho" id = "sub_wgu_<%= wgu.id %>" value = "<%= wgu.id %>">

          <td>
            <div class="company-img dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
              </a>

              <ul class="dropdown-menu dropdown-user">
                <li>
                  <a href="#">Reports</a>
                </li>
                <li>
                  <a href="#">Settings</a>
                </li>
              </ul>
            </div>

          </td>
          <td><%= wgu.name %>, Street, City, State, Zip, <%= tracking_number(wgu.id) %></td>
          <td></td>
          <td><%= "#{wgu.id}" +'0000'%></td>
          <td class="center"><%= "#{wgu.id}" +'00'%></td>
          <td class="center"><%= "#{wgu.id}" +'0%'%></td>
          <td class="center"><%= "#{wgu.id}" +'000'%></td>
          <td class="center"><%= "#{wgu.id}" +'0'%></td>

        </tr>
<% end %>
<% end %>


<% unless sub_level.blank? %>
    <% sub_level.each do |level| %>
        <tr class="gradeA wt-trho" style="background-color: #eee;" id = "sub_level_<%= level.id %>" value = "<%= level.id %>" order = "not-open">
          <td>
            <div class="company-img dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-list"></i>
              </a>

              <ul class="dropdown-menu dropdown-user">
                <li role="presentation">
                  <a href="#"  role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal_reports"
                     title="Reports">
                    <div>View Reports</div>
                  </a>
                </li>

                <li role="presentation">
                  <a href="#"  role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal15"
                     title="Settings">
                    <div>Level Settings</div>
                  </a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#">
                    <div>Manage Portal</div>
                  </a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#">
                    <div>API</div>
                    <div style="color:#999999; font-size:10px;"></div>
                  </a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#">
                    <div>Add Level</div>
                  </a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                  <a role="menuitem" class="addwgu" tabindex="-1" href="#" style="color:#058F26;">
                    Add New Waste Generating Unit
                  </a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#" style="color:#FF0707;">
                    Delete This WGU
                  </a>
                </li>
              </ul>
            </div>

          </td>

          <td><%= level.name %>, Street, City, State, Zip, <%= tracking_number(level.id) %></td>
          <td><%= total_sub_level_count(level.id) %></td>
          <td><%= "#{level.id}" +'0000'%></td>
          <td class="center"><%= "#{level.id}" +'00'%></td>
          <td class="center"><%= "#{level.id}" +'0%'%></td>
          <td class="center"><%= "#{level.id}" +'000'%></td>
          <td class="center"><%= "#{level.id}" +'0'%></td>
        </tr>
    <%end%>

<%end%>


<script>
    $(document).ready(function(){
        $(".gradeA").click(function(){
            var level_id = $(this).attr('value');
            var url = "/getting_sub_levels/" + level_id ;
            $.ajax({
                type: "GET",
                url: url
            });
        });
    });
</script>

<style>
    .wt-trho:hover{
        background-color: #cccccc !important;
    }
</style>