<% unless level_wgus.blank? %>
    <% level_wgus.each do |wgu| %>
      <tr class="gradeA" id = "sub_wgu_<%= wgu.id %>" value = "<%= wgu.id %>">

        <td>
          <div class="company-img dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>

            <ul class="dropdown-menu dropdown-user">
              <li>
                <a href="#">Reports</a>
              </li>
              <li>
                <a href="#">Settings</a>
              </li>
            </ul>
          </div>

        </td>
        <td style = "color: #0000cc;"><%= wgu.name %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>


      </tr>

   <%end%>
<%end%>



<% unless sub_level.blank? %>
    <% sub_level.each do |level| %>
        <tr class="gradeA wt-trho" id = "sub_level_<%= level.id %>" value = "<%= level.id %>">
          <td>
            <div class="company-img dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-list"></i>
              </a>

              <ul class="dropdown-menu dropdown-user">
                <li>
                  <a href="#">Config option 1</a>
                </li>
                <li>
                  <a href="#">Config option 2</a>
                </li>
              </ul>
            </div>

          </td>

          <td><%= level.name %>, Street, City, State, Zip, <%= tracking_number(level.id) %></td>
          <td></td>
          <td><%= "#{level.id}" +'0000'%></td>
          <td class="center"><%= "#{level.id}" +'00'%></td>
          <td class="center"><%= "#{level.id}" +'0%'%></td>
          <td class="center"><%= "#{level.id}" +'000'%></td>
          <td class="center"><%= "#{level.id}" +'0'%></td>
        </tr>
    <%end%>

<%end%>


<script>
    $(document).ready(function(){
        $(".gradeA").one('click',function(){
            var level_id = $(this).attr('value');
            var url = "/getting_sub_levels/" + level_id ;
            $.ajax({
                type: "GET",
                url: url
            });
        });
    });
</script>

<style>
    .wt-trho:hover{
        background-color: #cccccc !important;
    }
</style>