

<style>
    .tg  {border-collapse:collapse;border-spacing:0; color:#666666; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif}
    .tg td{font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    .tg th{font-size:14px;font-weight:bold;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    .tg tr:nth-child(odd){background-color:#dedede}
</style>

<div>
  <h3>All Levels Tracking</h3>
</div>

<div>
  <table class="tg">
    <thead>
    <tr>
      <th>Unit Name</th>
      <th>Units Count</th>
      <th>Tons Disposed</th>
      <th>Tons Recycled</th>
      <th>Recycling Rate</th>
      <th>Disposal Costs</th>
      <th>Return on Recycling</th>
      <th>Gallons Disposed</th>
      <th>Gallons Recycled</th>
      <th>Recycling Rate</th>
      <th>Disposal Costs</th>
      <th>Return on Recycling</th>

    </tr>
    </thead>

    <tbody>
        <% @levels.each do |level| %>
           <tr>
             <td><%= level.name %></td>
             <td><%= level.get_sub_levels.count %></td>
             <td>1,999,999.99</td>
             <td>1,000,000.99</td>
             <td>10%</td>
             <td>$1,999,999.99</td>
             <td>$1000.00</td>
             <td>1,000,000.99</td>
             <td>1,999,999.99</td>
             <td>10.05%</td>
             <td>$1,000,000.99</td>
             <td>$1000.00</td>
           </tr>

           <% level.try(:wgus).each do |wgu| %>
            <tr>
              <td><%= wgu.name %></td>
              <td></td>
              <td>1,999,999.99</td>
              <td>1,000,000.99</td>
              <td>10%</td>
              <td>$1,999,999.99</td>
              <td>$1000.00</td>
              <td>1,000,000.99</td>
              <td>1,999,999.99</td>
              <td>10.05%</td>
              <td>$1,000,000.99</td>
              <td>$1000.00</td>
            </tr>
           <%end%>
           <% level.try(:get_sub_levels).each do |sub_level| %>
            <tr>
              <td><%= sub_level.name %></td>
              <td><%= sub_level.try(:get_sub_levels).count %></td>
              <td>1,999,999.99</td>
              <td>1,000,000.99</td>
              <td>10%</td>
              <td>$1,999,999.99</td>
              <td>$1000.00</td>
              <td>1,000,000.99</td>
              <td>1,999,999.99</td>
              <td>10.05%</td>
              <td>$1,000,000.99</td>
              <td>$1000.00</td>
            </tr>

            <% sub_level.try(:wgus).each do |wgu| %>
                <tr>
                  <td><%= wgu.name %></td>
                  <td></td>
                  <td>1,999,999.99</td>
                  <td>1,000,000.99</td>
                  <td>10%</td>
                  <td>$1,999,999.99</td>
                  <td>$1000.00</td>
                  <td>1,000,000.99</td>
                  <td>1,999,999.99</td>
                  <td>10.05%</td>
                  <td>$1,000,000.99</td>
                  <td>$1000.00</td>
                </tr>
            <%end%>

           <%end%>

        <%end%>
    </tbody>
  </table>
</div>

<p>

</p>