

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Tracking</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_2' %>">Home</a>
      </li>
      <li class="active">
        <strong>Tracking</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Waste Generating Units</h5>
        </div>
        <div class="ibox-tools">
          <div align="left" class="" style="background-color: #fff;margin-left: 1%;
          ">
            <a class="btn btn-primary " id = "add_wgu_button" >Add WGU</a>
            <a class="btn btn-primary " id = "add_level_button">Add Level</a>
            <a class="btn btn-primary " href="javascript:void(0);" onclick="">Expand All</a>
            <a class="btn btn-primary  collapse-link " >Collapse All</a>
          </div>
        </div>
        <div class="ibox-content">


          <div id = "add_wgu_popup" style = "display:none;">
            <div id="vendor_selection">


              <%= select_tag "more_wgu_selection", options_for_select(1..10, :selected => 1), :'data-remote' => 'true',
                             :'data-url' => url_for(:controller => 'dashboards', :action => 'add_more_wgus'),
                             :style => "width:17%;height:10%;  margin-right: 25px;" %>

            </div>

            <div class="wgu-input-container" align="left">
              <div id="load_additional_wgu">
                <%= form_tag( "/wgus") do %>

                    <ol style="margin:-1px;; padding-left:20px; width:100%;">
                      <% for i in 1..@wgu_limit %>
                          <li class="wgu-input-div">
                            <%= text_field_tag "wgu[#{i}][name]", "", :placeholder => "Enter WGU Name",
                                               :style => "border-radius: 5px;border: #C9C9C9 1px solid;width: 47%;height:25%;padding: 2px 5px;font-size:13px;" %>

                            <%= select_tag "wgu[#{i}][level_id]", options_for_select(Level.all.map{|i| [i.name,i.id]}), :class => "wgu_vend_select",
                                           :style => "height:25%;", :prompt => @all_levels.blank? ? "Select Level" : "Assign To Level" %>

                          </li>
                      <% end %>
                    </ol>
                    <%= submit_tag "ADD WGU", :class => "button", :id => "add-wgu", :style => "margin-right: 20px;" %>
                <% end %>
              </div>

            </div>
            </div>

          <div id = "add_level_popup" style = "display:none;">
            <span style="float:left;padding-left: 31px;" class="">Add and Assign New Level</span>
            <div id="vendor_selection" >
              <%= select_tag "multi_level_selection", options_for_select(1..10, :selected => 1),
                             :'data-remote' => 'true',
                             :'data-url' => url_for(:controller => 'dashboards', :action => 'new_tracking'),:style => "width:17%;height:10%; margin-left: 21px;" %>

            </div>
            <div id="multi_level_loading_div">

            <%= form_tag "/levels", :method => :post do %>
                <ol >
                  <% for i in 1 .. @wgu_limit %>
                      <li>
                        <%= text_field_tag "level[#{i}][name]", "", :placeholder => "Enter Level Name",
                                           :style => "border-radius: 5px;border: #C9C9C9 1px solid;width: 47%;height:25%;padding: 2px 5px;font-size: 13px;" %>
                        <%= select_tag "level[#{i}][level_id]", options_for_select(Level.all.map{|i| [i.name,i.id]}),
                               :class => "wgu_vend_select", :style => "height:25%", :prompt => @all_levels.blank? ? "Select Level" : "Assign as SubLevel To" %>
                      </li>
                  <%end%>
                  <%= submit_tag "ADD LEVEL", :class => "button", :style => "float:right;margin-right: 20px;" %>
                </ol>
            <%end%>

            </div>

          </div>



          <table class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
            <tr>
              <th>Menu</th>
              <th>Waste Generating Units</th>
              <th>#of Units</th>
              <th>Tons Disposed</th>
              <th>Tons Recycled</th>
              <th>Recycling Rate</th>
              <th>Disposal Costs</th>
              <th>Return on Recycling</th>
            </tr>
            </thead>

            <tbody class = "table_order">
            <% @all_levels.each do |level| %>

                <tr class="gradeX wt-trho" id = "sub_level_<%= level.id %>" value = "<%= level.id %>" order = "not-open">
                  <td>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size: 18px;">
                      <i class="fa fa-list"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-user" style="left:auto; top:auto;">
                      <li role="presentation">
                        <a href="#"  role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal_reports"
                           title="Reports">
                          <div>Reports</div>
                        </a>
                      </li>

                      <li role="presentation">
                        <a href="#"  role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal15"
                           title="Settings">
                          <div>Program Settings</div>
                        </a>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">
                          <div>Manage Portal</div>
                        </a>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#" style="color:#058F26;">
                          <div>Add Level</div>
                        </a>
                      </li>
                      <!--<li role="presentation" class="divider"></li>-->
                      <li role="presentation">
                        <a role="menuitem" class="addwgu" tabindex="-1" href="#" style="color:#058F26;">
                          Add WGU
                        </a>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#" style="color:#058F26;">
                          Edit Profile
                        </a>
                      </li>
                    </ul>
                  </td>

                  <td><%= level.name %>, Street, City, State, Zip, <%= tracking_number(level.id) %></td>
                  <td><%= total_sub_level_count(level.id) %></td>
                  <td><%= "#{level.id}" +'0000'%></td>
                  <td class="center"><%= "#{level.id}" +'00'%></td>
                  <td class="center"><%= "#{level.id}" +'0%'%></td>
                  <td class="center"><%= "#{level.id}" +'000'%></td>
                  <td class="center"><%= "#{level.id}" +'0'%></td>
                </tr>




            <%end%>

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>


<%= render partial: "level_setttings_base_page"%>
<%= render partial: "reports_base_page"%>
<%= render partial: "wgu_settings_page"%>
<%= render partial: "wgu_add_data"%>



<style>
    #add_wgu_popup{
        background-color: #fff;
        position: absolute;
        z-index: 10;
        padding: 10px 5px;
        border: #C9C9C9 1px solid;
        margin-top: -5px;
        border-radius: 8px;
    }
    #add_level_popup{
        background-color: #fff;
        position: absolute;
        z-index: 10;
        padding: 15px 5px 12px 3px;
        border: #C9C9C9 1px solid;
        margin-top: -5px;
        border-radius: 8px;
        margin-left: 10%;
        right: 50%;
    }
</style>



<script>
  $(document).ready(function(){
     $(".table_order tr").click(function(e){
         if ($(e.target).closest('.dropdown-toggle').length === 0 && $(e.target).closest('.dropdown-user').length === 0 ) {
             var level_id = $(this).attr('value');
             var url = "/getting_sub_levels/" + level_id;
             $.ajax({
                 type: "GET",
                 url: url
             });

         }
     });

//      $("#collapse_button").click(function(){
//           $(".dataTables-example").slideUp(150);
//      });

      $(document).on('click', function(e) {
          var elem = $(e.target).closest('#add_wgu_button'),
                  box  = $(e.target).closest('#add_wgu_popup');

          if ( elem.length ) {
              e.preventDefault();
              $('#add_wgu_popup').toggle();
          }else if (!box.length){
              $('#add_wgu_popup').hide();
          }
      });

      $(document).on('click', function(e) {
          var elem = $(e.target).closest('#add_level_button'),
                  box  = $(e.target).closest('#add_level_popup');

          if ( elem.length ) {
              e.preventDefault();
              $('#add_level_popup').toggle();
          }else if (!box.length){
              $('#add_level_popup').hide();
          }
      });
  });
</script>

<script>


</script>

<style>
  .wt-trho:hover{
      background-color: #cccccc !important;
  }
</style>
