<script type="text/javascript" src="/assets/tables.js"></script>
<script type="text/css" src="/assets/tables.css"></script>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Tracking</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_2' %>">Home</a>
      </li>
      <li class="active">
        <strong>Tracking</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Waste Generating Units</h5>
        </div>
        <div class="ibox-content">
          <div align="left" class="" style="background-color: #fff;">
            <a class="btn btn-primary " data-toggle="modal" data-target="#addwgu" >Add WGU</a>
            <a class="btn btn-primary " data-toggle="modal" data-target="#addlevel">Add Level</a>
            <a class="btn btn-primary " href="javascript:void(0);" onclick="">Expand All</a>
            <a class="btn btn-primary  collapse-link " >Collapse All</a>
          </div>
        </div>
        <div class="ibox-content" style="border-width:0 !important;">


          <div class="modal fade" id="addwgu" role="dialog">
            <div class="modal-dialog">



                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Wgu</h4>
                  </div>


                  <div class="modal-body" style="min-height:50px !important; padding: 20px 0px 0px 0px;">
                    <!--<p>This is a small modal.</p>-->
                    <div align="right">
                      Add and Assign New Level:

                      <%= select_tag "more_wgu_selection", options_for_select(1..10, :selected => 1), :'data-remote' => 'true',
                                     :'data-url' => url_for(:controller => 'dashboards', :action => 'add_more_wgus'),
                                     :style => "width:17%;display:inline-block;  margin-right: 25px;" ,:class => "form-control" %>


                    </div>

                    <%= form_tag  "/wgus" ,:class => "form-inline" ,:'role' => "form" do %>

                    <div id = "load_additional_wgu" style="padding: 30px;">



                      <ol>
                        <% for i in 1..@wgu_limit %>
                            <li class="wgu-input-div" >


                              <div class="form-group">
                                <label class="sr-only" for="exampleInputEmail2">Enter Level Name</label>
                                <%= text_field_tag "wgu[#{i}][name]", "",:class => "form-control", :placeholder => "Enter WGU Name" %>
                              </div>

                              <div class="form-group">
                                <label class="sr-only" for="exampleSelect">Select</label>
                                <%= select_tag "wgu[#{i}][level_id]", options_for_select(Level.all.map{|i| [i.name,i.id]}), :class => "form-control",
                                               :style => "height:25%;", :prompt => @all_levels.blank? ? "Select Level" : "Assign To Level" %>
                              </div>
                            </li>
                        <%end%>
                      </ol>



                    </div>



                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <%= submit_tag "ADD WGU", :class => "btn btn-success" %>
                    </div>

                   <%end%>

                  </div>

                </div>



            </div>
          </div>


          <div class="modal fade" id="addlevel" role="dialog">
            <div class="modal-dialog">



              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Add Level</h4>
                </div>


                <div class="modal-body" style="min-height:50px !important; padding: 20px 0px 0px 0px;">
                  <!--<p>This is a small modal.</p>-->
                  <div align="right">
                    Add and Assign New Level:

                    <%= select_tag "multi_level_selection", options_for_select(1..10, :selected => 1), :'data-remote' => 'true',
                                   :'data-url' => url_for(:controller => 'dashboards', :action => 'new_tracking'),
                                   :style => "width:17%;display:inline-block;  margin-right: 25px;" ,:class => "form-control" %>


                  </div>

                  <%= form_tag  "/levels" ,:class => "form-inline" ,:'role' => "form" do %>

                      <div id = "multi_level_loading_div" style="padding: 30px;">

                        <ol>
                          <% for i in 1..@wgu_limit %>
                              <li class="wgu-input-div">


                                <div class="form-group">
                                  <label class="sr-only" for="exampleInputEmail2">Enter Level Name</label>
                                  <%= text_field_tag "level[#{i}][name]", "",:class => "form-control", :placeholder => "Enter Level Name" %>
                                </div>

                                <div class="form-group">
                                  <label class="sr-only" for="exampleSelect">Select</label>
                                  <%= select_tag "level[#{i}][level_id]", options_for_select(Level.all.map{|i| [i.name,i.id]}), :class => "form-control",
                                                 :style => "height:25%;", :prompt => @all_levels.blank? ? "Select Level" : "Assign To Level" %>
                                </div>
                              </li>
                          <%end%>

                        </ol>

                      </div>



                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <%= submit_tag "ADD LEVEL", :class => "btn btn-success" %>
                      </div>

                  <%end%>

                </div>

              </div>



            </div>
          </div>



          <table class="table table-bordered table-hover dataTables-example gh-table-valign-mid">
            <thead>
            <tr id= "tracking_header">
              <th style="text-align: center; vertical-align: middle;background-color: #ededed;">Menu</th>
              <th style="text-align: center; vertical-align: middle;background-color: #ededed;">Waste Generating Units</th>
              <th style="text-align: center; vertical-align: middle;background-color: #ededed;">#of Units</th>
              <th style="text-align: center; vertical-align: middle;background-color: #ededed;"><i class="fa fa-square" style="color:#ff0000;" title="Tons Disposed"></i></th>
              <th style="text-align: center; vertical-align: middle;background-color: #ededed;"><i class="fa fa-square" style="color:#5cd65c;" title="Tons Recycled"></i></th>
              <th style="text-align: center; vertical-align: middle;background-color: #ededed;"><i class="fa fa-recycle" title="Recycling Rate"></i></th>
              <th style="text-align: center; vertical-align: middle;background-color: #ededed;"><i class="fa fa-trash" title="Disposal Costs"></i></th>
              <th style="text-align: center; vertical-align: middle;background-color: #ededed;"><i class="fa fa-usd" title="Return on Recycling"></i></th>
              <th style="text-align: center; vertical-align: middle;background-color: #ededed;"><i class="fa fa-tint" style="color: #3366ff;" title="Gallons Disposed"></i></th>
              <th style="text-align: center; vertical-align: middle;background-color: #ededed;"><i class="fa fa-recycle" style="color:#5cd65c;" title="Gallons Recycled"></i></th>
              <th style="text-align: center; vertical-align: middle;background-color: #ededed;"><i class="fa fa-recycle" title="Recycling Rate"></i></th>
              <th style="text-align: center; vertical-align: middle;background-color: #ededed;"><i class="fa fa-trash" title="Disposal Costs"></i></th>
              <th style="text-align: center; vertical-align: middle;background-color: #ededed;"><i class="fa fa-usd" title="Return on Recycling"></i></th>
            </tr>
            </thead>

            <tbody class = "table_order">
            <% @all_levels.each do |level| %>

                <tr style="background-color: #f9f9f9;" class="gradeX" valign="middle"  id = "sub_level_<%= level.id %>" value = "<%= level.id %>" order = "not-open">
                  <td  style="text-align: center;vertical-align: middle">
                    <span class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size: 18px;">
                      <i class="fa fa-bars" style="cursor: pointer; font-size: 24px;"></i>
                    </span>

                    <ul class="dropdown-menu dropdown-user" style="left:auto; top:auto;">
                      <li role="presentation">
                        <a href="#"  role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal_reports"
                           title="Reports">
                          <div>Reports</div>
                        </a>
                      </li>

                      <li role="presentation">
                        <a href="#"  role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal15" id=<%= level.id%>
                           title="Settings">
                          <div>Program Settings</div>
                        </a>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">
                          <div>Manage Portal</div>
                        </a>
                      </li>
                      <li role="presentation">

                        <%= link_to "Add Level", "wgu/#{level.id}/add_menu_level/#{level.id}", :remote => true,
                                    :class => "add_main_level", :style => "color:#058F26;" %>
                      </li>
                      <li role="presentation">
                        <%= link_to "Add WGU", "wgu/#{level.id}/add_menu_level/#{level.id}", :remote => true,
                                    :class => "add_level_wgu", :style => "color:#058F26;" %>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#" style="color:#058F26;">
                          Edit Profile
                        </a>
                      </li>
                    </ul>
                  </td>

                  <td><b><%= level.name %></b> <br /> Street <br /> City, State, Zip<br />ID#:<%= tracking_number(level.id) %></td>
                  <td style="text-align: center;vertical-align: middle"><%= total_sub_level_count(level.id) %></td>
                  <td style="text-align: center;vertical-align: middle"><%= "#{level.id}" +',999,999.99'%></td>
                  <td style="text-align: center;vertical-align: middle"><%= "#{level.id}" +',000,000.99'%></td>
                  <td style="text-align: center;vertical-align: middle"><%= "#{level.id}" +'0%'%></td>
                  <td style="text-align: center;vertical-align: middle"><%= "#{level.id}" +',999,999.99'%></td>
                  <td style="text-align: center;vertical-align: middle"><%= "#{level.id}" +'000.00'%></td>
                  <td style="text-align: center;vertical-align: middle"><%= "#{level.id}" +',000,000.99'%></td>
                  <td style="text-align: center;vertical-align: middle"><%= "#{level.id}" +',999,999.99'%></td>
                  <td style="text-align: center;vertical-align: middle"><%= "#{level.id}" +'0.05%'%></td>
                  <td style="text-align: center;vertical-align: middle"><%= "#{level.id}" +',000,000.99'%></td>
                  <td style="text-align: center;vertical-align: middle"><%= "#{level.id}" +'000.00'%></td>
                </tr>




            <%end%>

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>


<%= render partial: "level_setttings_base_page"%>
<%= render partial: "reports_base_page"%>
<%= render partial: "wgu_settings_page"%>
<%= render partial: "wgu_add_data"%>


<script>
  $(document).ready(function(){
     $(".table_order tr").click(function(e){
         if ($(e.target).closest('.dropdown-toggle').length === 0 && $(e.target).closest('.dropdown-user').length === 0 ) {
             var level_id = $(this).attr('value');
             var url = "/getting_sub_levels/" + level_id;
             $.ajax({
                 type: "GET",
                 url: url
             });

         }
     });



      $(document).on('click', function(e) {
          var elem = $(e.target).closest('#add_wgu_button'),
                  box  = $(e.target).closest('#add_wgu_popup');

          if ( elem.length ) {
              e.preventDefault();
              $('#add_wgu_popup').toggle();
          }else if (!box.length){
              $('#add_wgu_popup').hide();
          }
      });

      $(document).on('click', function(e) {
          var elem = $(e.target).closest('#add_level_button'),
                  box  = $(e.target).closest('#add_level_popup');

          if ( elem.length ) {
              e.preventDefault();
              $('#add_level_popup').toggle();
          }else if (!box.length){
              $('#add_level_popup').hide();
          }
      });


      $(".add_main_level").click(function(e){
          var elem1 = $(e.target).closest('.add_main_level');
          if ( elem1.length ) {
              $('#add_level_popup').toggle();
              $(".dropdown-menu").hide();

          }
      });

      $(".add_level_wgu").click(function(e){
          var elem1 = $(e.target).closest('.add_level_wgu');
          if ( elem1.length ) {
              e.preventDefault();
              $('#add_wgu_popup').toggle();
              $(".dropdown-menu").hide();

          }
      });

      $(".add_next_level").click(function(e){
          var elem1 = $("#add_level_popup");
          if ( elem1.length ) {
              e.preventDefault();
              $('#add_level_popup').toggle();

          }
      });

  });

</script>

<script>
    $("#menulist").click(function()
    {
        $("#displaymenu").toggle();
    });

    $("#menulist_rep").click(function()
    {
        $("#displaymenu_rep").toggle();
    });

    function dynamic_level_settings(url) {

        var current_url = url;
        var level_id = level_id;
        $.ajax({
            type: "GET",
            url: current_url,
        }).success(function (data) {
            $('#replace_ajax_response').html(data);
            $("#displaymenu").toggle();
        });
    }

    function dynamic_reports_settings(url) {

        var current_url = url;
        var level_id = level_id;
        $.ajax({
            type: "GET",
            url: current_url,
        }).success(function (data) {
            $('#replace_ajax_response').html(data);
            $("#displaymenu_rep").toggle();
        });
    }

</script>

<style>
  .wt-trho:hover{
      background-color: #cccccc !important;
  }

  .wt-trho{
      cursor: pointer;
  }

        .DTTT_container{
            display:none;
        }
</style>


