

<style>

    /*Tracking Page CSS*/
    .tabs-content
    {
        margin: 0 1%;
        border-bottom: 1px solid #cccccc;
        cursor:auto;
        padding:0;
    }

    .parent-1
    {
        background-image:url("<%= image_path("tracking/acc-parent-1bg.png") %> ");
        background-repeat:repeat-y;
        background-position:left top;
        padding-left:20px;
        border-bottom: 1px solid #cccccc;
    }
    .parent-2
    {
        background-image:url("<%= image_path("tracking/acc-parent-2bg.png") %> ");
        background-repeat:repeat-y;
        background-position:left top;
        padding-left:20px;
        border-bottom: 1px solid #cccccc;
    }
    .parent-3
    {
        background-image:url("<%= image_path("tracking/acc-parent-3bg.png") %> ");
        background-repeat:repeat-y;
        background-position:left top;
        padding-left:20px;
        border-bottom: 1px solid #cccccc;
    }
    .parent-4
    {
        background-image:url("<%= image_path("tracking/acc-parent-4bg.png") %> ");
        background-repeat:repeat-y;
        background-position:left top;
        padding-left:20px;
        border-bottom: 1px solid #cccccc;
    }

    .scroll-tabs > ul, .scroll-tabs > ul > li > ul, .scroll-tabs > ul > li > ul > li > ul, .scroll-tabs > ul > li > ul > li > ul > li > ul
    {
        margin:0;
        padding:0;
        list-style-type:none;
    }

    .scroll-tabs ul li div div.collapse-link:not([data-option])
    {
        display:none;
    }

    .scroll-tabs > ul > li > ul, .scroll-tabs > ul > li > ul > li > ul, .scroll-tabs > ul > li > ul > li > ul > li > ul
    {
        display:none;
    }

    .company-img {
        display: inline-table;
    }
    .dropdown, .dropup {
        position: relative;
    }

    .setting {
        display: inline-table;
    }
    .close-link, .setting{
        color: #c4c4c4;
        cursor:pointer;
    }


    .fa-wticn
    {
        margin:0 10px;
    }


</style>


<!--<link rel="stylesheet" media="screen" href="/assets/miscellaneous.css" />-->

     <div class="row wrapper border-bottom white-bg page-heading">
       <div class="col-lg-10">
         <h2>Tracking</h2>
         <ol class="breadcrumb">
           <li>
             <a href="index.html">Home</a>
           </li>
           <li class="active">
             <strong>Tracking</strong>
           </li>
         </ol>
       </div>
       <div class="col-lg-2">

       </div>
     </div>


     <div class="wrapper wrapper-content animated fadeInRight">

       <div class="row">
         <div class="tabs-content">
           <div class="scroll-tabs">

             <ul>
               <li>

                 <div class="parent-1 ibox-title" align="right">


                   <h5>MY ENTIRE COMPANY</h5>

                   <a class="close-link">
                     <i class="fa fa-info fa-wticn"></i>
                   </a>

                   <div class="company-img ibox-tools dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                       <i class="fa fa-wrench fa-wticn"></i>
                     </a>
                     <ul class="dropdown-menu wgu-dropdown" role="menu" aria-labelledby="menu1">

                       <img src="../img/wgu-dropdwn-pointer.png" class="wgu-pointer-dd" alt="" />

                       <li role="presentation">
                         <a role="menuitem" tabindex="-1" href="reports.html">
                           <div>View Reports</div>
                         </a>
                       </li>

                       <li role="presentation">
                         <a role="menuitem" tabindex="-1" href="messages.html">
                           <div>Messages</div>
                         </a>
                       </li>
                       <li role="presentation">
                         <a href="#"  role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal15" title="Settings">
                           <div>Level Settings</div>
                         </a>
                       </li>
                       <li role="presentation">
                         <a role="menuitem" tabindex="-1" href="manage-portal.html">
                           <div>Manage Portal</div>
                         </a>
                       </li>
                       <li role="presentation">
                         <a role="menuitem" tabindex="-1" href="#">
                           <div>API</div>
                           <div style="color:#999999; font-size:10px;">
                         </a>
                       </li>
                       <li role="presentation">
                         <a role="menuitem" tabindex="-1" href="#">
                           <div>Add Level</div>
                         </a>
                       </li>
                       <!--<li role="presentation">
                         <a role="menuitem" tabindex="-1" href="settings-government.html">
                             <div>Settings</div>
                             <div style="color:#999999; font-size:10px;">
                                 Manage settings for this level and levels below
                             </div>
                         </a>
                       </li>-->

                       <li role="presentation" class="divider"></li>
                       <li role="presentation">
                         <a role="menuitem" class="addwgu" tabindex="-1" href="#" style="color:#058F26;">
                           Add New Waste Generating Unit
                         </a>
                       </li>
                       <li role="presentation">
                         <a role="menuitem" tabindex="-1" href="#" style="color:#FF0707;">
                           Delete This WGU
                         </a>
                       </li>
                     </ul>
                   </div>

                   <div class="collapse-link ibox-tools setting expand">
                     <i class="fa fa-chevron-up  fa-wticn"></i>
                   </div>

                   <a class="close-link">
                     <i class="fa fa-times fa-wticn"></i>
                   </a>


                   <!--<div class="setting expand">
                         <i class="fa fa-chevron-up"></i>
                   </div>-->
                 </div>
                 <ul>
                   <li>
                     <div class="parent-2 ibox-title" align="right">

                       <h5>MY ENTIRE COMPANY Unit #2</h5>

                       <a class="close-link">
                         <i class="fa fa-info fa-wticn"></i>
                       </a>

                       <div class="company-img ibox-tools dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                           <i class="fa fa-wrench fa-wticn"></i>
                         </a>
                         <ul class="dropdown-menu wgu-dropdown" role="menu" aria-labelledby="menu1">

                           <img src="../img/wgu-dropdwn-pointer.png" class="wgu-pointer-dd" alt="" />

                           <li role="presentation">
                             <a role="menuitem" tabindex="-1" href="reports.html">
                               <div>View Reports</div>
                             </a>
                           </li>
                           <li role="presentation">
                             <a role="menuitem" tabindex="-1" href="messages.html">
                               <div>Messages</div>
                             </a>
                           </li>
                           <li role="presentation">
                             <a href="#"  role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal15" title="Settings">
                               <div>Level Settings</div>
                             </a>
                           </li>
                           <li role="presentation">
                             <a role="menuitem" tabindex="-1" href="manage-portal.html">
                               <div>Manage Portal</div>
                             </a>
                           </li>
                           <li role="presentation">
                             <a role="menuitem" tabindex="-1" href="#">
                               <div>API</div>
                               <div style="color:#999999; font-size:10px;">
                             </a>
                           </li>
                           <li role="presentation">
                             <a role="menuitem" tabindex="-1" href="#">
                               <div>Add Level</div>
                             </a>
                           </li>
                           <!--<li role="presentation">
                             <a role="menuitem" tabindex="-1" href="settings-government.html">
                                 <div>Settings</div>
                                 <div style="color:#999999; font-size:10px;">
                                     Manage settings for this level and levels below
                                 </div>
                             </a>
                           </li>-->

                           <li role="presentation" class="divider"></li>
                           <li role="presentation">
                             <a role="menuitem" class="addwgu" tabindex="-1" href="#" style="color:#058F26;">
                               Add New Waste Generating Unit
                             </a>
                           </li>
                           <li role="presentation">
                             <a role="menuitem" tabindex="-1" href="#" style="color:#FF0707;">
                               Delete This WGU
                             </a>
                           </li>
                         </ul>
                       </div>

                       <div class="collapse-link ibox-tools setting expand">
                         <i class="fa fa-chevron-up fa-wticn"></i>
                       </div>

                       <a class="close-link">
                         <i class="fa fa-times fa-wticn"></i>
                       </a>
                     </div>
                     <ul>
                       <li>
                         <div class="parent-3 ibox-title" align="right">

                           <h5>MY ENTIRE COMPANY Unit #3</h5>

                           <a class="close-link">
                             <i class="fa fa-info fa-wticn"></i>
                           </a>

                           <div class="company-img ibox-tools dropdown">
                             <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                               <i class="fa fa-wrench fa-wticn"></i>
                             </a>
                             <ul class="dropdown-menu wgu-dropdown" role="menu" aria-labelledby="menu1">

                               <img src="../img/wgu-dropdwn-pointer.png" class="wgu-pointer-dd" alt="" />

                               <li role="presentation">
                                 <a role="menuitem" tabindex="-1" href="reports.html">
                                   <div>View Reports</div>
                                 </a>
                               </li>
                               <li role="presentation">
                                 <a role="menuitem" tabindex="-1" href="messages.html">
                                   <div>Messages</div>
                                 </a>
                               </li>
                               <li role="presentation">
                                 <a href="#"  role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal15" title="Settings">
                                   <div>Level Settings</div>
                                 </a>
                               </li>
                               <li role="presentation">
                                 <a role="menuitem" tabindex="-1" href="manage-portal.html">
                                   <div>Manage Portal</div>
                                 </a>
                               </li>
                               <li role="presentation">
                                 <a role="menuitem" tabindex="-1" href="#">
                                   <div>API</div>
                                   <div style="color:#999999; font-size:10px;">
                                 </a>
                               </li>
                               <li role="presentation">
                                 <a role="menuitem" tabindex="-1" href="#">
                                   <div>Add Level</div>
                                 </a>
                               </li>
                               <!--<li role="presentation">
                                 <a role="menuitem" tabindex="-1" href="settings-government.html">
                                     <div>Settings</div>
                                     <div style="color:#999999; font-size:10px;">
                                         Manage settings for this level and levels below
                                     </div>
                                 </a>
                               </li>-->

                               <li role="presentation" class="divider"></li>
                               <li role="presentation">
                                 <a role="menuitem" class="addwgu" tabindex="-1" href="#" style="color:#058F26;">
                                   Add New Waste Generating Unit
                                 </a>
                               </li>
                               <li role="presentation">
                                 <a role="menuitem" tabindex="-1" href="#" style="color:#FF0707;">
                                   Delete This WGU
                                 </a>
                               </li>
                             </ul>
                           </div>

                           <div class="collapse-link ibox-tools setting expand">
                             <i class="fa fa-chevron-up fa-wticn"></i>
                           </div>

                           <a class="close-link">
                             <i class="fa fa-times fa-wticn"></i>
                           </a>
                         </div>
                         <ul>
                           <li>
                             <div class="parent-4 ibox-title" align="right">

                               <h5>MY ENTIRE COMPANY Unit #4</h5>

                               <a class="close-link">
                                 <i class="fa fa-info fa-wticn"></i>
                               </a>

                               <div class="company-img ibox-tools dropdown">
                                 <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                   <i class="fa fa-wrench fa-wticn"></i>
                                 </a>
                                 <ul class="dropdown-menu wgu-dropdown" role="menu" aria-labelledby="menu1">

                                   <img src="../img/wgu-dropdwn-pointer.png" class="wgu-pointer-dd" alt="" />

                                   <li role="presentation">
                                     <a role="menuitem" tabindex="-1" href="reports.html">
                                       <div>View Reports</div>
                                     </a>
                                   </li>
                                   <li role="presentation">
                                     <a role="menuitem" tabindex="-1" href="messages.html">
                                       <div>Messages</div>
                                     </a>
                                   </li>
                                   <li role="presentation">
                                     <a href="#"  role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal15" title="Settings">
                                       <div>Level Settings</div>
                                     </a>
                                   </li>
                                   <li role="presentation">
                                     <a role="menuitem" tabindex="-1" href="manage-portal.html">
                                       <div>Manage Portal</div>
                                     </a>
                                   </li>
                                   <li role="presentation">
                                     <a role="menuitem" tabindex="-1" href="#">
                                       <div>API</div>
                                       <div style="color:#999999; font-size:10px;">
                                     </a>
                                   </li>
                                   <li role="presentation">
                                     <a role="menuitem" tabindex="-1" href="#">
                                       <div>Add Level</div>
                                     </a>
                                   </li>
                                   <!--<li role="presentation">
                                     <a role="menuitem" tabindex="-1" href="settings-government.html">
                                         <div>Settings</div>
                                         <div style="color:#999999; font-size:10px;">
                                             Manage settings for this level and levels below
                                         </div>
                                     </a>
                                   </li>-->

                                   <li role="presentation" class="divider"></li>
                                   <li role="presentation">
                                     <a role="menuitem" class="addwgu" tabindex="-1" href="#" style="color:#058F26;">
                                       Add New Waste Generating Unit
                                     </a>
                                   </li>
                                   <li role="presentation">
                                     <a role="menuitem" tabindex="-1" href="#" style="color:#FF0707;">
                                       Delete This WGU
                                     </a>
                                   </li>
                                 </ul>
                               </div>

                               <div class="collapse-link ibox-tools setting expand">
                                 <i class="fa fa-chevron-up fa-wticn"></i>
                               </div>

                               <a class="close-link">
                                 <i class="fa fa-times fa-wticn"></i>
                               </a>
                             </div>

                             <div class="parent-4 ibox-title" align="right">

                               <h5>MY ENTIRE COMPANY Unit #4</h5>

                               <a class="close-link">
                                 <i class="fa fa-info fa-wticn"></i>
                               </a>

                               <div class="company-img ibox-tools dropdown">
                                 <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                   <i class="fa fa-wrench fa-wticn"></i>
                                 </a>
                                 <ul class="dropdown-menu wgu-dropdown" role="menu" aria-labelledby="menu1">

                                   <img src="../img/wgu-dropdwn-pointer.png" class="wgu-pointer-dd" alt="" />

                                   <li role="presentation">
                                     <a role="menuitem" tabindex="-1" href="reports.html">
                                       <div>View Reports</div>
                                     </a>
                                   </li>
                                   <li role="presentation">
                                     <a role="menuitem" tabindex="-1" href="messages.html">
                                       <div>Messages</div>
                                     </a>
                                   </li>
                                   <li role="presentation">
                                     <a href="#"  role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal15" title="Settings">
                                       <div>Level Settings</div>
                                     </a>
                                   </li>
                                   <li role="presentation">
                                     <a role="menuitem" tabindex="-1" href="manage-portal.html">
                                       <div>Manage Portal</div>
                                     </a>
                                   </li>
                                   <li role="presentation">
                                     <a role="menuitem" tabindex="-1" href="#">
                                       <div>API</div>
                                       <div style="color:#999999; font-size:10px;">
                                     </a>
                                   </li>
                                   <li role="presentation">
                                     <a role="menuitem" tabindex="-1" href="#">
                                       <div>Add Level</div>
                                     </a>
                                   </li>
                                   <!--<li role="presentation">
                                     <a role="menuitem" tabindex="-1" href="settings-government.html">
                                         <div>Settings</div>
                                         <div style="color:#999999; font-size:10px;">
                                             Manage settings for this level and levels below
                                         </div>
                                     </a>
                                   </li>-->

                                   <li role="presentation" class="divider"></li>
                                   <li role="presentation">
                                     <a role="menuitem" class="addwgu" tabindex="-1" href="#" style="color:#058F26;">
                                       Add New Waste Generating Unit
                                     </a>
                                   </li>
                                   <li role="presentation">
                                     <a role="menuitem" tabindex="-1" href="#" style="color:#FF0707;">
                                       Delete This WGU
                                     </a>
                                   </li>
                                 </ul>
                               </div>

                               <div class="collapse-link ibox-tools setting expand">
                                 <i class="fa fa-chevron-up fa-wticn"></i>
                               </div>

                               <a class="close-link">
                                 <i class="fa fa-times fa-wticn"></i>
                               </a>
                             </div>
                           </li>
                         </ul>


                       </li>
                     </ul>

                   </li>
                 </ul>



               </li>



               <li>

                 <div class="parent-1 ibox-title" align="right">

                   <h5>MY ENTIRE COMPANY # Level 1</h5>

                   <a class="close-link">
                     <i class="fa fa-info fa-wticn"></i>
                   </a>

                   <div class="company-img ibox-tools dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                       <i class="fa fa-wrench fa-wticn"></i>
                     </a>
                     <ul class="dropdown-menu wgu-dropdown" role="menu" aria-labelledby="menu1">

                       <img src="../img/wgu-dropdwn-pointer.png" class="wgu-pointer-dd" alt="" />

                       <li role="presentation">
                         <a role="menuitem" tabindex="-1" href="reports.html">
                           <div>View Reports</div>
                         </a>
                       </li>
                       <li role="presentation">
                         <a role="menuitem" tabindex="-1" href="messages.html">
                           <div>Messages</div>
                         </a>
                       </li>
                       <li role="presentation">
                         <a href="#"  role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal15" title="Settings">
                           <div>Level Settings</div>
                         </a>
                       </li>
                       <li role="presentation">
                         <a role="menuitem" tabindex="-1" href="manage-portal.html">
                           <div>Manage Portal</div>
                         </a>
                       </li>
                       <li role="presentation">
                         <a role="menuitem" tabindex="-1" href="#">
                           <div>API</div>
                           <div style="color:#999999; font-size:10px;">
                         </a>
                       </li>
                       <li role="presentation">
                         <a role="menuitem" tabindex="-1" href="#">
                           <div>Add Level</div>
                         </a>
                       </li>
                       <!--<li role="presentation">
                         <a role="menuitem" tabindex="-1" href="settings-government.html">
                             <div>Settings</div>
                             <div style="color:#999999; font-size:10px;">
                                 Manage settings for this level and levels below
                             </div>
                         </a>
                       </li>-->

                       <li role="presentation" class="divider"></li>
                       <li role="presentation">
                         <a role="menuitem" class="addwgu" tabindex="-1" href="#" style="color:#058F26;">
                           Add New Waste Generating Unit
                         </a>
                       </li>
                       <li role="presentation">
                         <a role="menuitem" tabindex="-1" href="#" style="color:#FF0707;">
                           Delete This WGU
                         </a>
                       </li>
                     </ul>
                   </div>

                   <div class="collapse-link ibox-tools setting expand">
                     <i class="fa fa-chevron-up fa-wticn"></i>
                   </div>

                   <a class="close-link">
                     <i class="fa fa-times fa-wticn"></i>
                   </a>
                 </div>
                 <ul>
                   <li>
                     <div class="parent-2 ibox-title" align="right">

                       <h5>MY ENTIRE COMPANY Level 2 Unit #2</h5>

                       <a class="close-link">
                         <i class="fa fa-info fa-wticn"></i>
                       </a>

                       <div class="company-img ibox-tools dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                           <i class="fa fa-wrench fa-wticn"></i>
                         </a>
                         <ul class="dropdown-menu wgu-dropdown" role="menu" aria-labelledby="menu1">

                           <img src="../img/wgu-dropdwn-pointer.png" class="wgu-pointer-dd" alt="" />

                           <li role="presentation">
                             <a role="menuitem" tabindex="-1" href="reports.html">
                               <div>View Reports</div>
                             </a>
                           </li>
                           <li role="presentation">
                             <a role="menuitem" tabindex="-1" href="messages.html">
                               <div>Messages</div>
                             </a>
                           </li>
                           <li role="presentation">
                             <a href="#"  role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal15" title="Settings">
                               <div>Level Settings</div>
                             </a>
                           </li>
                           <li role="presentation">
                             <a role="menuitem" tabindex="-1" href="manage-portal.html">
                               <div>Manage Portal</div>
                             </a>
                           </li>
                           <li role="presentation">
                             <a role="menuitem" tabindex="-1" href="#">
                               <div>API</div>
                               <div style="color:#999999; font-size:10px;">
                             </a>
                           </li>
                           <li role="presentation">
                             <a role="menuitem" tabindex="-1" href="#">
                               <div>Add Level</div>
                             </a>
                           </li>
                           <!--<li role="presentation">
                             <a role="menuitem" tabindex="-1" href="settings-government.html">
                                 <div>Settings</div>
                                 <div style="color:#999999; font-size:10px;">
                                     Manage settings for this level and levels below
                                 </div>
                             </a>
                           </li>-->

                           <li role="presentation" class="divider"></li>
                           <li role="presentation">
                             <a role="menuitem" class="addwgu" tabindex="-1" href="#" style="color:#058F26;">
                               Add New Waste Generating Unit
                             </a>
                           </li>
                           <li role="presentation">
                             <a role="menuitem" tabindex="-1" href="#" style="color:#FF0707;">
                               Delete This WGU
                             </a>
                           </li>
                         </ul>
                       </div>

                       <div class="collapse-link ibox-tools setting expand">
                         <i class="fa fa-chevron-up fa-wticn"></i>
                       </div>

                       <a class="close-link">
                         <i class="fa fa-times fa-wticn"></i>
                       </a>
                     </div>
                   </li>
                 </ul>
               </li>

             </ul>


           </div>
         </div>
         <!--tab-content end-->
       </div>


     </div>
     <div class="footer" >
       <div class="pull-right">
         10GB of <strong>250GB</strong> Free.
       </div>
       <div>
         <strong>Copyright</strong>  WasteTracking &copy; 2016
       </div>
     </div>

   </div>
</div>

<%= render partial: "reports_base_page"%>

<!-- Mainly scripts -->

<script type="text/javascript">
    $(document).ready(function() {
        $(".scroll-tabs").vmenuModule({
            Speed: 200,
            autostart: false,
            autohide: true
        });
    });
</script>

<!-- Custom and plugin javascript -->







